*.project
*.classpath
*.class
*.log
**/.gradle/
**/.settings/
**/bin
**/.json/
**/node_modules
**/build
**/temp/
**/.vscode
*.DS_Store
**/node_modules
**/security.properties
**/package.json
**/package-lock.json

!config.js
!build.gradle

