* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    
}
a {
    text-decoration: none;
}
* {
list-style: none;
}
body {
    font-size: auto;
    background: linear-gradient(55deg, #FFF5F4 0%, ##FFF3FFFF 51%, #FFFFFFFF 85%); 

}

#container{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#container-fluid{
   padding: 1em;
    padding-top: 10em;
    width: 100%;
    margin: auto;
    vertical-align:middle;
    display: inline-block;
    font-family: 'Anton', sans-serif;
}

#container-fluid hr{
    width: 100%;
    color: #fd3b3b;
    border: thin solid #fd3b3b;
    margin-top: 5px;
    
}
#container-fluid h3{
    font-weight: 100;
    padding-top: 40px;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.73);
}

#container-fluid p{
    width: 75%;
    font-weight: 100;
    font-size: 35px;
    padding-top: 10px;
    font-family: 'Bree Serif', serif;
    color: rgba(52, 52, 52, 0.73);
     display: inline;
}
#container-fluid button{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: rgba(52, 52, 52, 0.73);
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    float:right;
}

#footer p{
    width: 1150px;
    color: #515151FF;
    margin: 0 auto;
}
#form-group{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}